# Supabase PostgreSQL Connection String
# Example: postgresql://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres
DATABASE_URL=postgresql://postgres:your_password@db.your_project.supabase.co:5432/postgres

# Server Port
PORT=3000

# Nodemailer Alert Configuration (Part 6)
ALERT_EMAIL_USER=
ALERT_EMAIL_PASS=
ALERT_EMAIL_TO=
